<div class="row align-items-center rounded-3 border shadow-lg">
  <header class="p-1 border-bottom">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2"><h2 class="text-body mt-3"><span>Giift</span>LBMS</h2></div>
        <div class="col-8"></div>
         <div class="col-1">
            <div class="dropdown mt-3">
                <button class="btn dropdown-toggle rounded-5 border shadow" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Admin
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item active" href="">Action</a></li>
                  <li><a class="dropdown-item" href="">Another action</a></li>
                  <li><a class="dropdown-item" href="">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="">Separated link</a></li>
                </ul>
              </div>
        </div>
    
    </div>
>

  </header>
</div>
